In [1]:
import load
import matplotlib.pyplot as plt
import feature as feat
from collections import Counter

In [2]:
wesad = load.WESAD(max_workers = 3)

Using ready-made DataFrame

In [3]:
Counter(wesad._df['label'])

Counter({0: 27654897,
         1: 12327702,
         4: 8264199,
         2: 6976201,
         3: 3902501,
         7: 576802,
         6: 552998,
         5: 552300})

In [4]:
res = wesad.separate_and_feature_extract(sample_n=100000)

In [5]:
res

,label,subject,std_ACC_0,mean_ACC_0,std_ACC_1,mean_ACC_1,std_ACC_2,mean_ACC_2,ECG_ULF,ECG_LF,ECG_HF,ECG_UHF,std_EMG,mean_EMG,std_EDA,mean_EDA,std_Resp,mean_Resp,std_Temp,mean_Temp
0,1,S10,0.021221,0.889754,0.062755,0.021259,0.199919,-0.039406,0.0,0.0,0.000000,0.007805,0.009742,-0.002555,0.030120,0.788064,2.595342,0.045108,0.116551,34.291191
1,1,S10,0.021229,0.889467,0.062896,0.021509,0.200791,-0.041385,0.0,0.0,0.000000,0.005212,0.009828,-0.002496,0.030053,0.787508,2.599448,0.019658,0.117956,34.289867
2,1,S10,0.021198,0.889630,0.063044,0.021061,0.200316,-0.039756,0.0,0.0,0.000000,0.002899,0.009791,-0.002530,0.029987,0.787685,2.587491,0.000888,0.117331,34.290688
3,1,S10,0.021288,0.889346,0.062892,0.021412,0.201034,-0.042305,0.0,0.0,0.000000,0.001909,0.009727,-0.002605,0.029987,0.787545,2.591954,0.017547,0.118207,34.290070
4,1,S10,0.021442,0.889194,0.062743,0.021324,0.201654,-0.043670,0.0,0.0,0.000000,0.001001,0.009813,-0.002676,0.030122,0.787323,2.592100,0.027979,0.118959,34.289093
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3985,2,S9,0.032018,0.830775,0.014558,-0.034131,0.080580,-0.411628,0.0,0.0,0.004933,0.005599,0.014102,-0.003084,0.331243,3.372821,4.151369,0.023408,0.091293,34.570568
3986,2,S9,0.031753,0.830715,0.014356,-0.034062,0.079655,-0.411976,0.0,0.0,0.000000,0.005970,0.014065,-0.003267,0.330530,3.371341,4.172971,0.017390,0.090801,34.570492
3987,2,S9,0.031718,0.830416,0.014439,-0.033985,0.079217,-0.412951,0.0,0.0,0.000000,0.004176,0.014181,-0.003267,0.331351,3.372244,4.206346,0.046560,0.091287,34.570244
3988,2,S9,0.031863,0.830525,0.014383,-0.034006,0.079477,-0.412713,0.0,0.0,0.000000,0.005067,0.014217,-0.003251,0.330764,3.372601,4.227423,0.072571,0.091047,34.570450
3989,2,S9,0.031723,0.830285,0.014298,-0.033980,0.079212,-0.413220,0.0,0.0,0.000000,0.005419,0.014121,-0.003145,0.330417,3.372245,4.207155,0.087378,0.091009,34.570335

In [6]:
res['ECG_LF'][0]

0.0

In [7]:
import pandas as pd

# Sample data
data = {'A': [1, 1, 2, 2, 2, 3, 3],
        'B': ['X', 'X', 'Y', 'Y', 'Z', 'Z', 'Z']}
df = pd.DataFrame(data)

# Detect changes in 'A' or 'B'
df['group'] = (df['A'] != df['A'].shift()) | (df['B'] != df['B'].shift())
df['group'] = df['group'].cumsum()  # Create unique group numbers

# Print groups
for _, group in df.groupby('group'):
    print(group, '\n')
    print(_)

   A  B  group
0  1  X      1
1  1  X      1

1
   A  B  group
2  2  Y      2
3  2  Y      2

2
   A  B  group
4  2  Z      3

3
   A  B  group
5  3  Z      4
6  3  Z      4

4

In [8]:
[g for _,g in df.groupby('group')]

[   A  B  group
 0  1  X      1
 1  1  X      1,
    A  B  group
 2  2  Y      2
 3  2  Y      2,
    A  B  group
 4  2  Z      3,
    A  B  group
 5  3  Z      4
 6  3  Z      4]